body
{
    background-color:  #1a1a1a;
}

#nameBox
{
    height: 14%;
    width: 55%;
    background-color: #FDF3E7;
    position: absolute;
    left: 10%;
    top: 10%;
    border-radius: 25px;
}

/* Will save if necessary. Currently don't think it's necessary.
#boxBorder
{
    border-style: solid;
    border-width: 3px;
    border-color: #4682B4;
    border-radius: 25px;
    width: 98%;
    position: relative;
    top: 5px;
    bottom: 5px;
} */

#name
{
    font-size: 60px;
    font-family: Muli;
    color: #3B3738;
    position:static;
}

#blurb
{
    font-size: 15px;
    font-family: Montserrat;
    color: #3B3738;
    position: static;
    bottom: 40px;
}

img
{
    border-radius: 50%;
}

#imageCircle
{
    position: absolute;
    left: 68%;
    top: 9%;
}

#emailCircle
{
    position: absolute;
    left: 81.5%;
    top: 5%;
}

#linkedInCircle
{
    position: absolute;
    left: 83%;
    top: 15%;
}

#githubCircle
{
    position: absolute;
    left: 81.5%;
    top: 28%;
}

a:hover
{
    opacity: 0.8;
}

.entryBox
{
    color: white;
}