/* Base Styles -------------------- */

* {
    box-sizing: border-box;
}

h1 {
    font-size: 5.625rem;
    color: #87bdd8;
    font-weight: normal;
    font-family: 'Permanent Marker', cursive;
}


/* Main Styles -------------------- */

.main-header,
.description,
.main-footer {
    text-align: center;
    margin: auto;
}

.main-header {
    padding-top: 170px;
    height: 450px;
    color: white;
    letter-spacing: 15px;
    background-image: linear-gradient(#9dc8e4, white);
}

.description {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 60px;
    width: 50%;
}

.main-footer {
    font-family: 'Poiret One', cursive;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 50%;
}

.thin-border {
    border-top: 2px solid #dfe2e6;
}

.button {
    text-align: center;
    padding-bottom: 100px;
}

.weather {
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}

.weather h1 {
    font-size: 5.625rem;
    color: black;
    font-weight: normal;
    font-family: 'KoHo', sans-serif;
}

#location, #clothing {
    font-size: 1.5rem;
    color: black;
    font-weight: normal;
    font-family: 'KoHo', sans-serif;
}

#day {
    font-size: 1rem;
}

/* Media Queries -------------------- */

@media (max-width: 768px) {
    .main-header h1 {
        font-size: 2.7rem;
        letter-spacing: 10px;
    }

    .main-footer {
        font-size: 12.5px;
    }

    .description {
        font-size: 15px;
    }
}